:root {
    --color1: #F4E8C1;
    --color2: #A0C1B9;
    --color3: #70A0AF;
    --color4: #706993;
    --color5: #331E38;
}

html {
    background-color: var(--color1);
    color: var(--color5);
    overflow-x: hidden;
    font-family: 'Josefin Sans', Helvetica, sans-serif;
    font-weight: 400;
}

span {
    font-family: 'Josefin Sans', Helvetica, sans-serif;
    font-weight: 400;
    margin-left: 5px;
}

img {
    max-width: 300px;
    max-height: auto;
    border-radius: 50%;
    opacity: 0.5;
    transition: 0.25s;
}

img:hover {
    opacity: 1.0;
}

li {
    margin: 5px;
}

a {
    color: var(--color5);
    transition: 0.25s;
    margin: 5px;
    text-decoration: none;
}

a:visited {
    color: var(--color4);
}

a:hover {
    color: var(--color5);
}

/* footer {
    display: flex;
    flex-direction: row;
    background-color: aquamarine;
    width: 100%;
    margin-left: 700px;
} */

.list-no-bullets {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.side-bar {
    background-image: linear-gradient(var(--color5),var(--color4));
    color: var(--color1);
    text-align: center;
    height: 100%;
    width: 370px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.main-body {
    margin-left: 370px;
    padding: 0px 10px;
}

.skill-block {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 110px;
}

.links-collection {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.single-link {
    background-color: var(--color1);
    text-align: center;
    border-radius: 15px;
    margin: 10px;
    padding: 5px;
    width: 300px;
    /* max-width: fit-content; */
    height: fit-content;
    line-height: 0px;
}

.single-link:hover {
    background-color: var(--color3);
    color: var(--color1)
}

.frontend, .backend, .workflow {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects-block {
    display: flex;
    margin: 10px;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-left: 70px;
}

.single-project {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    text-align: center;
    color: var(--color1);
    padding: 30px;
    background-color: var(--color5);
    width: 100%;
}

.footer-links {
    display: flex;
    flex-direction: row;
    margin-left: 450px;
    justify-content: space-evenly;
}

@media (max-width: 800px) {
    html {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    img {
        max-width: 100px;
    }
    
    .side-bar {
        width: 100%;
        height:300px;
        padding: 5px;
        flex-wrap: wrap;
        align-items: center;
    }

    .main-body {
        margin-top: 300px;
        width: 100%;
        left: 0;
        display: flex;
        flex-direction: column;
        margin-left: 0px;
    }

    .skill-block {
        display: flex;
        flex-direction: column;
    }

    .links-collection {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .single-link {
        max-height: 100px;
        max-width: 75px;
    }

    .title {
        width: 300px;
        border-radius: 20px;
        left: 0;
        margin-left: 10;
        text-align: center;
    }

    .projects-block, .skill-block {
        margin-left: 0;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
    }

    #brand-statement {
        max-width: 400px;
    }

    .footer-links {
        margin-left: 0;
    }
}